polars
plotly
numpy
pandas
pyarrow
kaleido
fastapi
uvicorn
requests
transformers
geopy
pillow
pytesseract
pyproj
selenium
webdriver-manager
beautifulsoup4
ddgs
unidecode
xlsxwriter
scikit-learn
joblib
folium
staticmap
fastexcel
xmltodict
pypdf
pdfplumber
rapidfuzz
sentence-transformers
chromadb
ollama